@model RecipeHelperApp.ViewModels.RecipeDTO 

@{
    ViewData["Title"] = "Edit";
}


<h1>Edit</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DayId" />
            <span asp-validation-for="DayId" class="text-danger"></span>


            <div class="form-group">
            <img id="image-preview" src="@Model.Image" alt="Current Image" style="max-width: 500px; max-height: 500px;" />
            </div>

            <!-- Add Image -->
            <div class="form-group">
                <input id="new-image-input" asp-for="ImageFile" type="file" class="form-control" onchange="previewImage(event)" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
            <button type="button" onclick="resetImage()">Reset Image</button>
            </div>

            <br />


            <div class="form-group">
                <label asp-for="MealType" class="control-label"></label>
                <input asp-for="MealType" class="form-control" />
                <span asp-validation-for="MealType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructions" class="control-label"></label>
                <input asp-for="Instructions" class="form-control" />
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients" class="control-label"></label>
                <input asp-for="Ingredients" class="form-control" />
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calories" class="control-label"></label>
                <input asp-for="Calories" class="form-control" />
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Protein" class="control-label"></label>
                <input asp-for="Protein" class="form-control" />
                <span asp-validation-for="Protein" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fat" class="control-label"></label>
                <input asp-for="Fat" class="form-control" />
                <span asp-validation-for="Fat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carbs" class="control-label"></label>
                <input asp-for="Carbs" class="form-control" />
                <span asp-validation-for="Carbs" class="text-danger"></span>
            </div>

             

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("Index", "Recipes", new { dayId = Model.DayId })">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var img = document.getElementById('image-preview');
                img.src = reader.result;
                img.style.display = 'block';
            };
            reader.readAsDataURL(input.files[0]);
        }

        function resetImage() {
            var img = document.getElementById('image-preview');
            img.src = '@Model.Image';
            img.style.display = 'block';

            // Show the current image
            document.getElementById('current-image').style.display = 'block';
        }
    </script>
}

