@model RecipeHelperApp.Models.NutritionForm

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NutritionForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeNutrition" /> @Html.DisplayNameFor(model => model.IncludeNutrition)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeIngredients" /> @Html.DisplayNameFor(model => model.IncludeIngredients)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ExcludeIngredients" /> @Html.DisplayNameFor(model => model.ExcludeIngredients)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IncludedIngredients" class="control-label"></label>
                <input asp-for="IncludedIngredients" class="form-control" />
                <span asp-validation-for="IncludedIngredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExcludedIngredients" class="control-label"></label>
                <input asp-for="ExcludedIngredients" class="form-control" />
                <span asp-validation-for="ExcludedIngredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NutrientsJson" class="control-label"></label>
                <input asp-for="NutrientsJson" class="form-control" />
                <span asp-validation-for="NutrientsJson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
