@model RecipeHelperApp.Models.Week

@{
    ViewData["Title"] = "Delete";
}

<div class="row justify-content-center">
    <div class="card shadow p-5 text-center">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <img src="~/theme/img/undraw_diet_ghvw.svg" class="img-fluid" />
                <h4>Delete</h4>
                <hr />
                <p>Are you sure you want to delete your week: @Model.WeekName?</p>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

