@model RecipeHelperApp.Models.Day

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Day</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="WeekDay" class="control-label"></label>
                <input asp-for="WeekDay" class="form-control" />
                <span asp-validation-for="WeekDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCalories" class="control-label"></label>
                <input asp-for="TotalCalories" class="form-control" />
                <span asp-validation-for="TotalCalories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalProtein" class="control-label"></label>
                <input asp-for="TotalProtein" class="form-control" />
                <span asp-validation-for="TotalProtein" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalFat" class="control-label"></label>
                <input asp-for="TotalFat" class="form-control" />
                <span asp-validation-for="TotalFat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCarbs" class="control-label"></label>
                <input asp-for="TotalCarbs" class="form-control" />
                <span asp-validation-for="TotalCarbs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
