@model RecipeHelperApp.Models.Day

@{
    ViewData["Title"] = "Reset";
}

<div class="row justify-content-center">
    <div class="card shadow p-5 text-center">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <img src="~/theme/img/undraw_diet_ghvw.svg" class="img-fluid" />
                <h4>Reset</h4>
                <hr />
                <p>Are you sure you want to reset your day and delete the data in your day: @Model.WeekDay?</p>
                <form asp-action="ResetConfirmed">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger" role="alert">
                            @foreach (var error in ViewData.ModelState.Values.SelectMany(x => x.Errors))
                            {
                                <span>@error.ErrorMessage</span>
                                <br />
                            }
                        </div>
                    }

                    <div class="form-group">
                        <div id="submit-button-group" class="form-group">
                            <input type="submit" value="Reset" class="btn btn-danger" />
                        </div>
                        <a class="btn btn-secondary" href="@Url.Action("Index", "Days", new { weekId = Model.WeekId })">Back to List</a>
                    </div>

                    <partial name="_LoadingButtonPartial" message="Resetting your weekday and clearing your recipe slots, please stand by..." />

                </form>
            </div>
        </div>
    </div>
</div>




