@page
@model ResetPasswordConfirmationModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "Reset password confirmation";
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/theme/img/undraw_posting_photo.svg" class="img-fluid" alt="Posting Photo">
        </div>
        <div class="col-md-6">
            <h1>You Reset Your Password</h1>
            <p>Looks like you're ready to login with your new password!</p>
            <a asp-page="./Login" class="btn btn-success">
               Login <i class="fas fa-dashboard"></i>
            </a>
        </div>
    </div>


